.developer {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 40px;
    max-width: 1210px;
    margin-inline: auto;
    //   margin-inline: auto chính là margin-left: auto; margin-right: auto
    //   margin-block: tương ứng với margin top-bottom
    //   padding-inline: tương ứng với padding right-left
    //   padding-block:  tương ứng với padding top-bottom
    padding: 20px;
  }
  &-item {
    background-color: white;
    border: 2px solid #dee0e8;
    border-radius: 16px;
    padding: 40px 40px 20px;
  }
  &-image {
    aspect-ratio: 1; // Tỉ lệ
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
